:root {
    --principale: #231d2c;
    --principale-sombre: #1a1620;
    --principale-clair: #4c3d4f;
    --secondaire: #993B2C;
    --secondaire-clair: #D9533F;
    --secondaire-sombre: #3B1711;
    --fond: white;
}


@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-5px, 0);
    }

    50% {
        transform: translate(5px, 0);
    }

    75% {
        transform: translate(-5px, 0);
    }

    100% {
        transform: translate(5px, 0);
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

button {
    all: unset;
}

main {
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-grow: 100;
}

main>h1 {
    display: flex;
    align-items: flex-start;
    flex-basis: 10rem;
    padding-top: 20px;
    padding-left: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1)),
        url('pizza.jpg');
    background-size: cover;
    height: 800px;
}

main>h1 span {
    color: white;
    text-shadow: 3px 3px 0px var(--secondaire-clair);
    font-size: 5rem;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

main form {
    flex-grow: 10;
}

main ul {
    list-style: none;
    text-transform: capitalize;
    background: radial-gradient(at 70% 0%, rgb(240, 240, 240),
            var(--fond) 60%,
            var(--fond));
    display: grid;
    justify-items: center;
    justify-content: stretch;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

main li {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.51rem;
}

.choisir {
    padding: 0rem 0.4rem;

    text-align: center;
    height: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    padding: 0.5rem;
    border-radius: 1rem;
}

main li button:hover {
    text-shadow: 1px 1px 0px white;
    cursor: pointer;
    background: var(--secondaire-clair);
}

form fieldset {
    background: var(--principale-clair);
    padding: 1rem;
}

form fieldset button {
    background: var(--principale);
    cursor: pointer;
    color: white;


}

form fieldset button:hover {
    background: var(--principale-clair);
    text-shadow: 1px 1px 0px var(--secondaire-clair);
}

body {
    color: var(--principale);
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    height: 100vh;
}


section {
    background-color: var(--secondaire);
    color: white;
    padding: 1rem;
    box-shadow: -10px 0px 50px var(--principale);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

section h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 0px var(--principale);

}

section>* {
    max-width: 15rem;
}

section h2 {
    font-size: 1.5rem;
    margin-top: 2rem;

}

section h3::before {
    content: "•";
    margin-right: 8px;
}

section h3 {
    margin-top: 1rem;
    font-style: italic;
    margin-bottom: 0.2rem;
}

.prix {
    font-weight: bold;
}

.retirer {
    background-color: var(--secondaire);
    border-radius: 1rem;
    color: var(--fond);
}

.nouveau {
    animation: shake 0.05s;
    animation-duration: 1s;
}